.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}
.inputs {
  margin: 0 20px;
  margin-top: 50px;
  display: grid;
  gap: 20px;
}

.copy {
  margin: 50px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

textarea {
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
