@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

pre {
  line-height: 1.5;
  margin: 16px auto;
  padding: 16px;
  background-color: var(--muidocs-palette-primaryDark-800, #001e3c);
  color: #f8f8f2;
  -webkit-print-color-scheme: dark;
  color-scheme: dark;
  border-radius: var(--muidocs-shape-borderRadius, 10px);
  border: 1px solid;
  border-color: var(--muidocs-palette-primaryDark-700, #132f4c);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 0.8125rem;
  max-width: calc(100vw - 32px);
  max-height: 400px;
  text-align: left;
}
